.br {
  border-radius: 8px;  
}

.card {
  border: 2px solid #fff;
  box-shadow:0px 0px 10px 0 #a9a9a9;
  padding: 30px 30px;
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.Scard {
  border: 2px solid #fff;
  width: 100%;
  border-radius: 10px;
  background-color: #edf1f7;
  height: auto;
}

.p{
  padding: 10px 0px 10px 0px;
}

.Details{
  padding: 20px 10px;
  font-size: 20px;
}